import React, { FunctionComponent } from "react";
import s from './{{pascalCase name}}.module.scss';
import { useTheme } from "@common/atoms/Theme";
import { cnfc } from "@common/utils";
const c = cnfc(s);

export interface {{pascalCase name}}Props extends React.HTMLAttributes<HTMLDivElement>{
	
}

const {{pascalCase name}}:FunctionComponent<{{pascalCase name}}Props> = ({
	className,
	children,
	...props
}) => {
	const theme = useTheme().name;
	
	return (
		<div className={c('comp', theme, className)} {...props}>
			{children}
		</div>
	);
};

export default {{pascalCase name}};